<a href="https://colab.research.google.com/github/anaaparamesh/Week1_Public/blob/master/Notebooks/02_Pandas_and_Matplotlib/Pandas_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Problem Set

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [4]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [6]:
# your code here
data = pd.read_csv(url, names=names)
data.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

Print out the age and class of the 100th patient

In [7]:
# your code here
#Also data.loc[100, ["age", "class"]]  row: 100th(iloc including) column: age and class columns
print(data.iloc[99:100, 7:] )

    age  class
99   31      1

Write code to figure out how many people are classified as not having diabetes, class is 0

In [8]:
# your code here
#These are invalid features that can have 0, makes no sense.
invalid = ['plas', 'pres', 'skin', 'test', 'mass']

#replace all the invalid zeros into Nan(not a number) and keep them in place.
for i in invalid:
    data[i].replace(to_replace=0, value=np.nan, inplace=True)

#dropping rows with nan(what dropna does) and resetting the index.
data_row = data.dropna(axis=0).reset_index(drop=True)

#data set says true if they don't have diabetes
no_diabetes_boolean = data_row['class'] != 1

#has ppl that have no diabetes
have_no_diabetes = data_row[no_diabetes_boolean]

#number of ppl without diabetes.
have_no_diabetes.shape[0]

#Also done this way
Negative = len(data[(data["class"] == 1)])
print(Negative)

268

Write code to figure out how many people are classified as having diabetes, class is 1

In [ ]:
# your code here
#boolean if they have diabetes
have_diabetes_boolean = data_row['class'] == 1

#data set of people that have diabetes
have_diabetes = data_row[have_diabetes_boolean]

#number of people that have diabetes
have_diabetes.shape[0]

#Another way of finding how many diabetes patients
Positive = len(data[(data["class"] == 0)])
print(Positive)

130

What percent of people have diabetes in the study

In [ ]:
# your code here
#the people that have diabetes over the people that don't have diabetes.
(have_diabetes.shape[0] / data_row.shape[0]) * 100

#Another way of finding the precentage of people that have diabetes in the study
# your code here
per = Positive/len(data["class"])
print(str(per*100) + "%")

33.16326530612245

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [9]:
# your code here
#step of 6 for columns
print(data.loc[0:4, 'pres': 'class': 6] )

#simpler way of getting first five patients' 'pres' and 'class'

   pres  class
0  72.0      1
1  66.0      0
2  64.0      1
3  66.0      0
4  40.0      1

Run the cell below, it will print out the correlation among the columns

In [ ]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.128135  0.214178  ... -0.033523  0.544341  0.221898
plas   0.128135  1.000000  0.223192  ...  0.137246  0.267136  0.494650
pres   0.214178  0.223192  1.000000  ... -0.002805  0.330107  0.170589
skin   0.100239  0.228043  0.226839  ...  0.115016  0.166816  0.259491
test   0.082171  0.581186  0.098272  ...  0.130395  0.220261  0.303454
mass   0.021719  0.232771  0.289230  ...  0.155382  0.025841  0.313680
pedi  -0.033523  0.137246 -0.002805  ...  1.000000  0.033561  0.173844
age    0.544341  0.267136  0.330107  ...  0.033561  1.000000  0.238356
class  0.221898  0.494650  0.170589  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [11]:
# your code here
stats_of_highest_corr_column = data.loc[:, 'plas'].describe()

#Mean of column that has the highest correlation 
mean_of_plas = stats_of_highest_corr_column['mean']
print(mean_of_plas)

#Another way of calculating the mean of the most correlated column/category with class.
highest = 0

#y is the column above, it is a list of all the other columns' correlations.
y = data.corr()["class"]
print(y)

#gets the highest correlated column.
for i in range(len(y)-1):
  if y[i] > highest:
    highest = y[i]
print(highest)

#mean is calculated.
mean_of_val = sum(data["plas"])/len(data["plas"])
print(mean_of_val)
class_mean = mean_of_val

121.6867627785059
preg     0.221898
plas     0.494650
pres     0.170589
skin     0.259491
test     0.303454
mass     0.313680
pedi     0.173844
age      0.238356
class    1.000000
Name: class, dtype: float64
0.49465025908103116
nan

Create a new dataframe with only people that are above the mean found above

In [17]:
# your code here
#data set says true if they don't have above the mean plas.
has_higher_than_mean_plas = data['plas'] > mean_of_plas

#has ppl that or only above the mean plas
high_plas = data[has_higher_than_mean_plas]
high_plas.head(50)

#Another way with people above the mean found above, which drops the NaNs.
# your code here
above_mean_data = 0
above_mean_data = data[data["plas"] > class_mean]
print(len(above_mean_data))
#above_mean_data.isnull().sum().sum() #no missing values
above_mean_data.dropna()
#sum(above_mean_data["age"])/len(above_mean_data["age"])

0

Empty DataFrame
Columns: [preg, plas, pres, skin, test, mass, pedi, age, class]
Index: []

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [19]:
# write code here
plas_mean = (data.loc[:, 'plas'].describe())['mean']
preg_mean = (data.loc[:, 'preg'].describe())['mean']
pres_mean = (data.loc[:, 'pres'].describe())['mean']
skin_mean = (data.loc[:, 'skin'].describe())['mean']
test_mean = (data.loc[:, 'test'].describe())['mean']
mass_mean = (data.loc[:, 'mass'].describe())['mean']
pedi_mean = (data.loc[:, 'pedi'].describe())['mean']
age_mean = (data.loc[:, 'age'].describe())['mean']

above_average =  data[ (data['plas'] > plas_mean) & (data['preg'] > preg_mean) & (data['pres'] > pres_mean) & (data['skin'] > skin_mean) 
                          & (data['test'] > test_mean) & (data['mass'] > mass_mean) & (data['age'] > age_mean)]

above_average.head()

#Another way of getting the ones above the mean for all class
for x in above_mean_data:
  #Have error probably because I clean dataset before creating above_man_data
  temp_mean = sum(above_mean_data[x])/len(above_mean_data[x])
  above_mean_data[x] = above_mean_data[x].where(above_mean_data[x] >= temp_mean, 0)
above_mean_data

ZeroDivisionError: ignored

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [ ]:
# write code here      
#Had to add ignore_index as parameter
sample = data.sort_values(by=['skin', 'test', 'pedi'], ascending=True, na_position='first') 
sample.head(20)

     preg   plas  pres  skin  test  mass   pedi  age  class
268     0  102.0  52.0   NaN   NaN  25.1  0.078   21      0
180     6   87.0  80.0   NaN   NaN  23.2  0.084   32      0
598     1  173.0  74.0   NaN   NaN  36.8  0.088   38      1
81      2   74.0   NaN   NaN   NaN   NaN  0.102   22      0
430     2   99.0   NaN   NaN   NaN  22.2  0.108   23      0
560     6  125.0  76.0   NaN   NaN  33.8  0.121   54      1
714     3  102.0  74.0   NaN   NaN  29.5  0.121   32      0
474     4  114.0  64.0   NaN   NaN  28.9  0.126   24      0
678     3  121.0  52.0   NaN   NaN  36.0  0.127   25      1
319     6  194.0  78.0   NaN   NaN  23.5  0.129   59      1
586     8  143.0  66.0   NaN   NaN  34.9  0.129   41      1
7      10  115.0   NaN   NaN   NaN  35.3  0.134   29      0
404     5  168.0  64.0   NaN   NaN  32.9  0.135   41      1
154     8  188.0  78.0   NaN   NaN  47.9  0.137   43      1
333    12  106.0  80.0   NaN   NaN  23.6  0.137   44      0
619     0  119.0   NaN   NaN   NaN  32.4  0.141   24      1
729     2   92.0  52.0   NaN   NaN  30.1  0.141   22      0
190     3  111.0  62.0   NaN   NaN  22.6  0.142   21      0
762     9   89.0  62.0   NaN   NaN  22.5  0.142   33      0
628     5  128.0  80.0   NaN   NaN  34.6  0.144   45      0

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [ ]:
# write code here
age_sort = data.sort_values(by='age', ascending=False, na_position='last')

#largest 4 for age
largest_ages = age_sort.iloc[0:4]
largest_ages.head()


mass_sort = data.sort_values(by='mass', ascending=False, na_position='last')
#largest 4 for age
largest_masses = mass_sort.iloc[0:4]
largest_masses.head()

     preg   plas   pres  skin   test  mass   pedi  age  class
177     0  129.0  110.0  46.0  130.0  67.1  0.319   26      1
445     0  180.0   78.0  63.0   14.0  59.4  2.420   25      1
673     3  123.0  100.0  35.0  240.0  57.3  0.880   22      0
125     1   88.0   30.0  42.0   99.0  55.0  0.496   26      1

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [ ]:
#write code here
plas_sort = data.sort_values(by='plas', ascending=True, na_position='last')
#largest 4 for age
smallest_plas = plas_sort.iloc[0:4]

#smallest 4 plas in reverse order
smallest_plas.sort_values(by='plas', ascending=False, na_position='last')


preg_sort = data.sort_values(by='preg', ascending=True, na_position='last')
#largest 4 for age
smallest_preg = plas_sort.iloc[0:4]

#smallest 4 preg in reverse order
smallest_preg.sort_values(by='preg', ascending=False, na_position='last')

             preg        plas        pres  ...        pedi         age       class
count  768.000000  763.000000  733.000000  ...  768.000000  768.000000  768.000000
mean     3.845052  121.686763   72.405184  ...    0.471876   33.240885    0.348958
std      3.369578   30.535641   12.382158  ...    0.331329   11.760232    0.476951
min      0.000000   44.000000   24.000000  ...    0.078000   21.000000    0.000000
25%      1.000000   99.000000   64.000000  ...    0.243750   24.000000    0.000000
50%      3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%      6.000000  141.000000   80.000000  ...    0.626250   41.000000    1.000000
max     17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]