<a href="https://colab.research.google.com/github/anaaparamesh/Week1_Public/blob/master/Notebooks/02_Pandas_and_Matplotlib/Pandas_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Problem Set

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [3]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [5]:
# your code here
data = pd.read_csv(url, names=names)
data.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

Print out the age and class of the 100th patient

In [6]:
# your code here
print(data.iloc[99:100, 7:] )

    age  class
99   31      1

Write code to figure out how many people are classified as not having diabetes, class is 0

In [10]:
# your code here
#These are invalid features that can have 0, makes no sense.
invalid = ['plas', 'pres', 'skin', 'test', 'mass']

#replace all the invalid zeros into Nan(not a number) and keep them in place.
for i in invalid:
    data[i].replace(to_replace=0, value=np.nan, inplace=True)

#dropping rows with nan(what dropna does) and resetting the index.
data_row = data.dropna(axis=0).reset_index(drop=True)

#data set says true if they don't have diabetes
no_diabetes_boolean = data_row['class'] < 1

#has ppl that have no diabetes
have_no_diabetes = data_row[no_diabetes_boolean]

#number of ppl without diabetes.
have_no_diabetes.shape[0]

262

Write code to figure out how many people are classified as having diabetes, class is 1

In [12]:
# your code here
#boolean if they have diabetes
have_diabetes_boolean = data_row['class'] == 1

#data set of people that have diabetes
have_diabetes = data_row[have_diabetes_boolean]

#number of people that have diabetes
have_diabetes.shape[0]

392

What percent of people have diabetes in the study

In [ ]:
# your code here

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [ ]:
# your code here

Run the cell below, it will print out the correlation among the columns

In [ ]:
data.corr()

What column has the highest correlation with class? Find the mean() value of that column

In [ ]:
# your code here

Create a new dataframe with only people that are above the mean found above

In [ ]:
# your code here

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [ ]:
# write code here

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [ ]:
# write code here

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [ ]:
# write code here

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [ ]:
#write code here