<a href="https://colab.research.google.com/github/anaaparamesh/Week1_Public/blob/master/Notebooks/02_Pandas_and_Matplotlib/Pandas_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Problem Set

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [4]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [6]:
# your code here
data = pd.read_csv(url, names=names)
data.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

Print out the age and class of the 100th patient

In [7]:
# your code here
#Also data.loc[100, ["age", "class"]]  row: 100th(iloc including) column: age and class columns
print(data.iloc[99:100, 7:] )

    age  class
99   31      1

Write code to figure out how many people are classified as not having diabetes, class is 0

In [8]:
# your code here
#These are invalid features that can have 0, makes no sense.
invalid = ['plas', 'pres', 'skin', 'test', 'mass']

#replace all the invalid zeros into Nan(not a number) and keep them in place.
for i in invalid:
    data[i].replace(to_replace=0, value=np.nan, inplace=True)

#dropping rows with nan(what dropna does) and resetting the index.
data_row = data.dropna(axis=0).reset_index(drop=True)

#data set says true if they don't have diabetes
no_diabetes_boolean = data_row['class'] != 1

#has ppl that have no diabetes
have_no_diabetes = data_row[no_diabetes_boolean]

#number of ppl without diabetes.
have_no_diabetes.shape[0]

#Also done this way
Negative = len(data[(data["class"] == 1)])
print(Negative)

268

Write code to figure out how many people are classified as having diabetes, class is 1

In [ ]:
# your code here
#boolean if they have diabetes
have_diabetes_boolean = data_row['class'] == 1

#data set of people that have diabetes
have_diabetes = data_row[have_diabetes_boolean]

#number of people that have diabetes
have_diabetes.shape[0]

#Another way of finding how many diabetes patients
Positive = len(data[(data["class"] == 0)])
print(Positive)

130

What percent of people have diabetes in the study

In [ ]:
# your code here
#the people that have diabetes over the people that don't have diabetes.
(have_diabetes.shape[0] / data_row.shape[0]) * 100

33.16326530612245

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [ ]:
# your code here
print(data.loc[0:4, 'pres': 'class': 6] )

   pres  class
0  72.0      1
1  66.0      0
2  64.0      1
3  66.0      0
4  40.0      1

Run the cell below, it will print out the correlation among the columns

In [ ]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.128135  0.214178  ... -0.033523  0.544341  0.221898
plas   0.128135  1.000000  0.223192  ...  0.137246  0.267136  0.494650
pres   0.214178  0.223192  1.000000  ... -0.002805  0.330107  0.170589
skin   0.100239  0.228043  0.226839  ...  0.115016  0.166816  0.259491
test   0.082171  0.581186  0.098272  ...  0.130395  0.220261  0.303454
mass   0.021719  0.232771  0.289230  ...  0.155382  0.025841  0.313680
pedi  -0.033523  0.137246 -0.002805  ...  1.000000  0.033561  0.173844
age    0.544341  0.267136  0.330107  ...  0.033561  1.000000  0.238356
class  0.221898  0.494650  0.170589  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [ ]:
# your code here
stats_of_highest_corr_column = data.loc[:, 'plas'].describe()

#Mean of column that has the highest correlation 
mean_of_plas = stats_of_highest_corr_column['mean']
print(mean_of_plas)

121.6867627785059

Create a new dataframe with only people that are above the mean found above

In [ ]:
# your code here
#data set says true if they don't have above the mean plas.
has_higher_than_mean_plas = data['plas'] > mean_of_plas

#has ppl that or only above the mean plas
high_plas = data[has_higher_than_mean_plas]
high_plas.head(50)

     preg   plas   pres  skin   test  mass   pedi  age  class
0       6  148.0   72.0  35.0    NaN  33.6  0.627   50      1
2       8  183.0   64.0   NaN    NaN  23.3  0.672   32      1
4       0  137.0   40.0  35.0  168.0  43.1  2.288   33      1
8       2  197.0   70.0  45.0  543.0  30.5  0.158   53      1
9       8  125.0   96.0   NaN    NaN   NaN  0.232   54      1
11     10  168.0   74.0   NaN    NaN  38.0  0.537   34      1
12     10  139.0   80.0   NaN    NaN  27.1  1.441   57      0
13      1  189.0   60.0  23.0  846.0  30.1  0.398   59      1
14      5  166.0   72.0  19.0  175.0  25.8  0.587   51      1
20      3  126.0   88.0  41.0  235.0  39.3  0.704   27      0
22      7  196.0   90.0   NaN    NaN  39.8  0.451   41      1
24     11  143.0   94.0  33.0  146.0  36.6  0.254   51      1
25     10  125.0   70.0  26.0  115.0  31.1  0.205   41      1
26      7  147.0   76.0   NaN    NaN  39.4  0.257   43      1
28     13  145.0   82.0  19.0  110.0  22.2  0.245   57      0
31      3  158.0   76.0  36.0  245.0  31.6  0.851   28      1
34     10  122.0   78.0  31.0    NaN  27.6  0.512   45      0
36     11  138.0   76.0   NaN    NaN  33.2  0.420   35      0
40      3  180.0   64.0  25.0   70.0  34.0  0.271   26      0
41      7  133.0   84.0   NaN    NaN  40.2  0.696   37      0
43      9  171.0  110.0  24.0  240.0  45.4  0.721   54      1
44      7  159.0   64.0   NaN    NaN  27.4  0.294   40      0
45      0  180.0   66.0  39.0    NaN  42.0  1.893   25      1
46      1  146.0   56.0   NaN    NaN  29.7  0.564   29      0
53      8  176.0   90.0  34.0  300.0  33.7  0.467   58      1
54      7  150.0   66.0  42.0  342.0  34.7  0.718   42      0
56      7  187.0   68.0  39.0  304.0  37.7  0.254   41      1
58      0  146.0   82.0   NaN    NaN  40.5  1.781   44      0
61      8  133.0   72.0   NaN    NaN  32.9  0.270   39      1
63      2  141.0   58.0  34.0  128.0  25.4  0.699   24      0
69      4  146.0   85.0  27.0  100.0  28.9  0.189   27      0
71      5  139.0   64.0  35.0  140.0  28.6  0.411   26      0
72     13  126.0   90.0   NaN    NaN  43.4  0.583   42      1
73      4  129.0   86.0  20.0  270.0  35.1  0.231   23      0
78      0  131.0    NaN   NaN    NaN  43.2  0.270   26      1
84      5  137.0  108.0   NaN    NaN  48.8  0.227   37      1
88     15  136.0   70.0  32.0  110.0  37.1  0.153   43      1
91      4  123.0   80.0  15.0  176.0  32.0  0.443   34      0
93      4  134.0   72.0   NaN    NaN  23.8  0.277   60      1
94      2  142.0   82.0  18.0   64.0  24.7  0.761   21      0
95      6  144.0   72.0  27.0  228.0  33.9  0.255   40      0
99      1  122.0   90.0  51.0  220.0  49.7  0.325   31      1
100     1  163.0   72.0   NaN    NaN  39.0  1.222   33      1
101     1  151.0   60.0   NaN    NaN  26.1  0.179   22      0
102     0  125.0   96.0   NaN    NaN  22.5  0.262   21      0
105     1  126.0   56.0  29.0  152.0  28.7  0.801   21      0
107     4  144.0   58.0  28.0  140.0  29.5  0.287   37      0
110     3  171.0   72.0  33.0  135.0  33.3  0.199   24      1
111     8  155.0   62.0  26.0  495.0  34.0  0.543   46      1
114     7  160.0   54.0  32.0  175.0  30.5  0.588   39      1

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [ ]:
# write code here
plas_mean = (data.loc[:, 'plas'].describe())['mean']
preg_mean = (data.loc[:, 'preg'].describe())['mean']
pres_mean = (data.loc[:, 'pres'].describe())['mean']
skin_mean = (data.loc[:, 'skin'].describe())['mean']
test_mean = (data.loc[:, 'test'].describe())['mean']
mass_mean = (data.loc[:, 'mass'].describe())['mean']
pedi_mean = (data.loc[:, 'pedi'].describe())['mean']
age_mean = (data.loc[:, 'age'].describe())['mean']

above_average =  data[ (data['plas'] > plas_mean) & (data['preg'] > preg_mean) & (data['pres'] > pres_mean) & (data['skin'] > skin_mean) 
                          & (data['test'] > test_mean) & (data['mass'] > mass_mean) & (data['age'] > age_mean)]

above_average.head()

     preg   plas  pres  skin   test  mass   pedi  age  class
53      8  176.0  90.0  34.0  300.0  33.7  0.467   58      1
231     6  134.0  80.0  37.0  370.0  46.2  0.238   46      1
286     5  155.0  84.0  44.0  545.0  38.7  0.619   34      0
375    12  140.0  82.0  43.0  325.0  39.2  0.528   58      1
424     8  151.0  78.0  32.0  210.0  42.9  0.516   36      1

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [ ]:
# write code here      
sample = data.sort_values(by=['skin', 'test', 'pedi'], ascending=True, na_position='first') 
sample.head(20)

     preg   plas  pres  skin  test  mass   pedi  age  class
268     0  102.0  52.0   NaN   NaN  25.1  0.078   21      0
180     6   87.0  80.0   NaN   NaN  23.2  0.084   32      0
598     1  173.0  74.0   NaN   NaN  36.8  0.088   38      1
81      2   74.0   NaN   NaN   NaN   NaN  0.102   22      0
430     2   99.0   NaN   NaN   NaN  22.2  0.108   23      0
560     6  125.0  76.0   NaN   NaN  33.8  0.121   54      1
714     3  102.0  74.0   NaN   NaN  29.5  0.121   32      0
474     4  114.0  64.0   NaN   NaN  28.9  0.126   24      0
678     3  121.0  52.0   NaN   NaN  36.0  0.127   25      1
319     6  194.0  78.0   NaN   NaN  23.5  0.129   59      1
586     8  143.0  66.0   NaN   NaN  34.9  0.129   41      1
7      10  115.0   NaN   NaN   NaN  35.3  0.134   29      0
404     5  168.0  64.0   NaN   NaN  32.9  0.135   41      1
154     8  188.0  78.0   NaN   NaN  47.9  0.137   43      1
333    12  106.0  80.0   NaN   NaN  23.6  0.137   44      0
619     0  119.0   NaN   NaN   NaN  32.4  0.141   24      1
729     2   92.0  52.0   NaN   NaN  30.1  0.141   22      0
190     3  111.0  62.0   NaN   NaN  22.6  0.142   21      0
762     9   89.0  62.0   NaN   NaN  22.5  0.142   33      0
628     5  128.0  80.0   NaN   NaN  34.6  0.144   45      0

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [ ]:
# write code here
age_sort = data.sort_values(by='age', ascending=False, na_position='last')

#largest 4 for age
largest_ages = age_sort.iloc[0:4]
largest_ages.head()


mass_sort = data.sort_values(by='mass', ascending=False, na_position='last')
#largest 4 for age
largest_masses = mass_sort.iloc[0:4]
largest_masses.head()

     preg   plas   pres  skin   test  mass   pedi  age  class
177     0  129.0  110.0  46.0  130.0  67.1  0.319   26      1
445     0  180.0   78.0  63.0   14.0  59.4  2.420   25      1
673     3  123.0  100.0  35.0  240.0  57.3  0.880   22      0
125     1   88.0   30.0  42.0   99.0  55.0  0.496   26      1

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [ ]:
#write code here
plas_sort = data.sort_values(by='plas', ascending=True, na_position='last')
#largest 4 for age
smallest_plas = plas_sort.iloc[0:4]

#smallest 4 plas in reverse order
smallest_plas.sort_values(by='plas', ascending=False, na_position='last')


preg_sort = data.sort_values(by='preg', ascending=True, na_position='last')
#largest 4 for age
smallest_preg = plas_sort.iloc[0:4]

#smallest 4 preg in reverse order
smallest_preg.sort_values(by='preg', ascending=False, na_position='last')

             preg        plas        pres  ...        pedi         age       class
count  768.000000  763.000000  733.000000  ...  768.000000  768.000000  768.000000
mean     3.845052  121.686763   72.405184  ...    0.471876   33.240885    0.348958
std      3.369578   30.535641   12.382158  ...    0.331329   11.760232    0.476951
min      0.000000   44.000000   24.000000  ...    0.078000   21.000000    0.000000
25%      1.000000   99.000000   64.000000  ...    0.243750   24.000000    0.000000
50%      3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%      6.000000  141.000000   80.000000  ...    0.626250   41.000000    1.000000
max     17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]